* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.loginBg {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100%;
    background: url("../assets/bg1.jpeg") no-repeat 0 0;
    // filter: brightness(50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.part1 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    >.full-text {
        position: absolute;
        margin-top: 100px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-size: 40px;
        line-height: 70px;
        color: #FFFFFF;
        text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    }

    >.short-text {
        position: absolute;
        margin-top: 35px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-size: 40px;
        line-height: 70px;
        color: #FFFFFF;
        text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

    }
}

.part2 {
    position: relative;
    top: 170px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(235, 230, 230, 0.5);
    backdrop-filter: blur(10px);
    width: 400px;
    height: 450px;
    border-radius: 30px;
    box-shadow: -30px -30px 100px 10px rgba(255, 255, 255, 0.2), 30px 40px 100px 10px rgba(0, 0, 0, 0.25);

    >h5 {

        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.6);
        font-family: 'Poppins', sans-serif;
        font-style: normal;
    }

    >form {
        display: flex;
        flex-direction: column;
        // >div {
        //     margin: 15px;
        // }

        >input {
            margin-top: 20px;
            width: 300px;
            height: 35px;
            border-radius: 50px;
            padding-left: 25px;
            font-size: 15px;
            border: none;
            height: 70px;
            font-family: 'Poppins', sans-serif;
            // background-color:white;
            background: rgba(255, 255, 255, 0.85);

        }

        >.checkbox1 {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: baseline;

            >.checkbox {
                display: flex;
                flex-direction: row;
                line-height: 20px;

                >input {
                    height: 16px;
                    width: 16px;
                    position: relative;
                    bottom: 10px;
                }

                >label {
                    position: relative;
                    bottom: 10px;
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-size: 12px;
                    color: black;
                }
            }

            p {
                position: relative;
                bottom: 13px;
                font-size: 12px;
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                text-decoration: underline;
                color: rgb(76, 76, 134);

            }
        }

        >.loginbtn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;


            // >input {
            //     width: 180px;
            //     height: 35px;
            //     border-radius: 35px;
            //     color: #FFFFFF;
            //     font-size: 17px;
            //     background: rgba(24, 74, 44, 1)
            // }
            >button {
                width: 180px;
                height: 55px;
                border-radius: 55px;
                color: #FFFFFF;
                font-size: 17px;
                background: #487750;
                position: relative;
                bottom: 20px;
                border: none;
            }


        }

    }

    .para {
        font-size: 13px;
        position: relative;
        bottom: 20px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        margin-top: 25px;

        >span {
            font-size: 13px;
            color: rgb(104, 112, 225);
            font-family: 'Poppins', sans-serif;
            font-style: normal;
        }
    }


}




@media screen and (min-width:520px) {
    .short-text {
        display: none;
    }

    .full-text {
        display: inline;
    }

}

@media screen and (max-width:520px) {
    .short-text {
        display: inline;
    }

    .full-text {
        display: none;
    }

    .part1 {
        margin-top: 30px;

        >.full-text {
            font-size: 30px;
        }
    }

    .part2 {
        width: 280px;
        height: 350px;

        >h5 {
            font-size: 12px;
        }

        >form {
            >input {
                width: 250px;
                height: 45px;
            }

            >.checkbox1 {
                margin-top: 20px;
            }

            >.loginbtn {
                >button {
                    width: 140px;
                    height: 45px;
                }
            }
        }
    }

}